# Configuracion de PostgreSQL
PGUSER=tu_usuario
PGPASSWORD=tu_contraseña
PGDATABASE=cs2_wiki_db

# Configuracion de la App Node.js
# PGHOST debe ser "db" porque es el nombre del contenedor en la red de Docker
PGHOST=db
PGPORT=5432 #Asegurate que no sea un puerto que ya estes ocupando
PORT=3000

# Puerto externo para conectarte desde DBeaver o pgAdmin en Windows
EXTERNAL_DB_PORT=5434